<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title>RahaRadar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style_kulud.css')}}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<script src="{{ url_for('static', filename='javascript/chart.js')}}"></script>    
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='images/raharadar.png')}}" style="height: 56.5px; width: 219px; margin-left: 20px;">
        <div class="pages">
            <a>KULUD</a>
            <a>TULUD</a>
            <a>SÄÄSTMINE</a>
        </div>
        <div style="display: inline-flex; width: 20%; height: fit-content; justify-content: space-evenly;">
            <div style="display: inline-flex; justify-content: space-between; width: fit-content;">
                <img src="{{ url_for('static', filename='images/pilt.png')}}" style="height: 30px; width: 30px; align-self: center; padding-right: 10px;">
                <p class="hello_message">Tere, Peeter!</p>
            </div>
            <button type="menu" class="menu">Vaheta Kuu/Aasta</button>
        </div>
    </div>
    <div class="main">
        <div class = "chart_box">
            <p>Kulude analüüs</p>
            <div id="donutchart"></div>
        </div>
        <div class="list">
            <div class="list_upper">
                <p>Tehingute ajalugu</p>
                <p style="font-size: 16px; padding-bottom: 20px;">Periood: teadmata</p>
                <div class="list_table">
                    <p style="margin-left: 10px;">Kuupäev</p>
                    <p>Saaja / Maksja</p>
                    <p>Kategooria</p>
                    <p>Kulu</p>
                    <p style="width: 64.24px;"></p>
                </div>
            </div>
            <div class="list_main">
                <div class="example_list_item">
                    <div class="example_list_item_content">
                        <p style="margin-left: 5px;">01.10.2024</p>
                        <p>Coop Maksimarket</p>
                        <p>Toit ja restoranid</p>
                        <p style="color: #EB5252;">-9,28 EUR</p>
                        <button style="margin-right: 30px; align-self: center; height: 30px;">Kustuta</button>
                    </div>
                </div>

            </div>
            <div class="list_bottom">
                <p>test</p>
            </div>
        </div>
    </div>
</body>
</html>