<!DOCTYPE html>
<html lang="et">
<head>
    <meta charset="UTF-8">
    <title>RahaRadar</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style_kulud.css')}}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/icon.png')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<script src="{{ url_for('static', filename='javascript/chart.js')}}"></script>    
<body>
    <div class="header">
        <img src="{{ url_for('static', filename='images/raharadar.png')}}" style="height: 56.5px; width: 219px; margin-left: 20px;">
        <a href="/logout">Logout</a>
        <div class="pages">
            <a>KULUD</a>
            <a>TULUD</a>
            <a>SÄÄSTMINE</a>
        </div>
        <div style="display: inline-flex; width: 20%; height: fit-content; justify-content: space-evenly;">
            <div style="display: inline-flex; justify-content: space-between; width: fit-content;">
                <img src="{{ url_for('static', filename='images/pilt.png')}}" style="height: 30px; width: 30px; align-self: center; padding-right: 10px;">
                <p class="hello_message">Tere, Peeter!</p>
            </div>
            <button type="button" class="menu" onclick="showMonthYearSelector()">Vaheta Kuu/Aasta</button>

            <div id="monthYearModal" class="modal" style="display: none;">
                <div class="modal-content">
                    <h2>Vali Kuu ja Aasta</h2>
                    <select id="monthSelector">
                        <option value="1">Jaanuar</option>
                        <option value="2">Veebruar</option>
                        <option value="3">Märts</option>
                        <option value="4">Aprill</option>
                        <option value="5">Mai</option>
                        <option value="6">Juuni</option>
                        <option value="7">Juuli</option>
                        <option value="8">August</option>
                        <option value="9">September</option>
                        <option value="10">Oktoober</option>
                        <option value="11">November</option>
                        <option value="12">Detsember</option>
                    </select>
                    <input type="number" id="yearSelector" placeholder="Aasta (nt 2024)" min="2000" max="2100">
                    <button onclick="filterByMonthYear()">Filtreeri</button>
                    <button onclick="closeMonthYearSelector()">Sulge</button>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <div class = "chart_box">
            <p>Kulude analüüs</p>
            <div id="donutchart" style="width: 500px; height: 500px;"></div>

        </div>
        <div class="list">
            <div class="list_upper">
                <p>Tehingute ajalugu</p>
                <p style="font-size: 16px; padding-bottom: 20px;">Periood: teadmata</p>
            </div>
            
            <div>
                <form id="transactionForm" action="{{ url_for('add_data') }}" method="POST">
                    <input type="text" id="date" name="date" placeholder="DD.MM.YYYY" required>
                    <input type="text" id="payer" name="payer" placeholder="Saaja / Maksja" required>
                    <input type="text" id="category" name="category" placeholder="Kategooria" required>
                    <input type="number" id="amount" name="amount" placeholder="Kulu €" required>
                    <button type="submit">Lisa tehing</button>
                </form>
                    {% if data and data|length > 0 %}
                    <table border= 1px id ="transactionTable">
                        <thead>
                            <tr>
                                <th>Kuupäev</th>
                                <th>Saaja / Maksja</th>
                                <th>Kategooria</th>
                                <th>Summa</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in data %}
                            <tr>
                                <td>{{ entry.date }}</td>
                                <td>{{ entry.payer }}</td>
                                <td>{{ entry.category }}</td>
                                <td class="amount">{{ entry.amount }}</td>
                                <td class="button-cell">
                                    <button class="delete-button" onclick="deleteEntry('{{ entry.id }}')">Kustuta</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>    
                    </table>
                    <div>
                        <p>SUMMA: <span id="totalSum">0</span> €</p>
                    </div>
                    {% else %}
                    <p>Tehinguid pole selle kuu jaoks lisatud.</p>
                    {% endif %}
            </div>
            <div class="list_bottom">
                <p>Tere</p>
            </div>
        </div>
    </div>
</body>
</html>